# Python

In [1]:
# imports
import csv

In [2]:
# read the menu data
#   item, category, description, price, cost
menu_data, header = [], ''
with open('menu_data.csv') as menu_data_file:
    reader = csv.reader(menu_data_file)
    print(next(reader)) # skip the header
    for row in reader:
        menu_data.append(row)

['item', 'category', 'description', 'price', 'cost']

In [3]:
# view the menu data
print(len(menu_data))
for menu_datum in menu_data[:2]:
    print(menu_datum)

32
['edamame', 'appetizers', 'boiled soybeans, maldon sea salt', '4', '1']
['house salad', 'appetizers', 'mixed greens, cherry tomatoes, cucumber, house ginger dressing', '4', '2']

In [4]:
# read the sales data
#   Line_Item_ID, Date, Credit_Card_Number, Description, Quantity, Menu_Item
sales_data = []
with open('sales_data.csv') as sales_data_file:
    reader = csv.reader(sales_data_file)
    print(next(reader)) # skip the header
    for row in reader:
        sales_data.append(row)

['Line_Item_ID', 'Date', 'Credit_Card_Number', 'Quantity', 'Menu_Item']

In [5]:
# view the sales data
print(len(sales_data))
for sales_datum in sales_data[:2]:
    print(sales_datum)

74124
['1', '01-01-2017', '7437926611570799', '1', 'spicy miso ramen']
['2', '01-01-2017', '7437926611570799', '1', 'spicy miso ramen']

In [6]:
# process the data
report, count = {}, 0
for sales_record in sales_data:
    sales_item = sales_record[4]
    sales_item_quantity = int(sales_record[3])
    if sales_item not in report.keys():
        report[sales_item] = {
            '01-count': 0,
            '02-revenue': 0,
            '03-cost': 0,
            '04-profit': 0,
        }
    for menu_record in menu_data:
        menu_item = menu_record[0]
        menu_item_price = float(menu_record[3])
        menu_item_cost = float(menu_record[4])
        menu_item_profit = menu_item_price - menu_item_cost
        if sales_item == menu_item:
            report[sales_item]['01-count'] += sales_item_quantity
            report[sales_item]['02-revenue'] += menu_item_price * sales_item_quantity
            report[sales_item]['03-cost'] += menu_item_cost * sales_item_quantity
            report[sales_item]['04-profit'] += menu_item_profit * sales_item_quantity
    count += 1

In [7]:
# write the report
with open('python_report.txt', 'w') as python_report_file:
    for key, value in sorted(report.items()):
        python_report_file.write(f'{key} {value}\n')

In [8]:
# print the report
print(count)
for item_report in sorted(report.items()):
    print(item_report)

74124
('burnt garlic tonkotsu ramen', {'01-count': 9070, '02-revenue': 126980.0, '03-cost': 54420.0, '04-profit': 72560.0})
('miso crab ramen', {'01-count': 8890, '02-revenue': 106680.0, '03-cost': 53340.0, '04-profit': 53340.0})
('nagomi shoyu', {'01-count': 9132, '02-revenue': 100452.0, '03-cost': 45660.0, '04-profit': 54792.0})
('shio ramen', {'01-count': 9180, '02-revenue': 100980.0, '03-cost': 45900.0, '04-profit': 55080.0})
('soft-shell miso crab ramen', {'01-count': 9130, '02-revenue': 127820.0, '03-cost': 63910.0, '04-profit': 63910.0})
('spicy miso ramen', {'01-count': 9238, '02-revenue': 110856.0, '03-cost': 46190.0, '04-profit': 64666.0})
('tonkotsu ramen', {'01-count': 9288, '02-revenue': 120744.0, '03-cost': 55728.0, '04-profit': 65016.0})
('tori paitan ramen', {'01-count': 9156, '02-revenue': 119028.0, '03-cost': 54936.0, '04-profit': 64092.0})
('truffle butter ramen', {'01-count': 8982, '02-revenue': 125748.0, '03-cost': 62874.0, '04-profit': 62874.0})
('vegetarian curry + king trumpet mushroom ramen', {'01-count': 8824, '02-revenue': 114712.0, '03-cost': 61768.0, '04-profit': 52944.0})
('vegetarian spicy miso', {'01-count': 9216, '02-revenue': 110592.0, '03-cost': 46080.0, '04-profit': 64512.0})

---

# Pandas

In [1]:
# imports
import pandas as pd

In [2]:
# read the menu data
menu_df = pd.read_csv('menu_data.csv', index_col='item').drop(columns=['category', 'description']).astype(float)
menu_df['profit'] = menu_df.price - menu_df.cost

In [3]:
# view the menu data
print(menu_df.shape)
menu_df

(32, 3)

                                                price  cost  profit
item
edamame                                           4.0   1.0     3.0
house salad                                       4.0   2.0     2.0
cucumber sunomono salad                           5.0   2.0     3.0
hiyashi wakame seaweed salad                      5.0   2.0     3.0
agedashi tofu                                     5.0   2.0     3.0
hiyayakko tofu                                    5.0   2.0     3.0
pork floss bao                                    4.0   2.0     2.0
kakuni bao                                        6.0   3.0     3.0
edamame fried gyoza (vegan)                       6.0   3.0     3.0
fried gyoza                                       6.0   6.0     0.0
takoyaki                                          6.0   3.0     3.0
rock shrimp tempura                               6.0   3.0     3.0
soft-shell crab tempura                           6.0   3.0     3.0
ebi katsu shrimp bao                              6.0   3.0     3.0
nagomi shoyu                                     11.0   5.0     6.0
shio ramen                                       11.0   5.0     6.0
spicy miso ramen                                 12.0   5.0     7.0
vegetarian spicy miso                            12.0   5.0     7.0
miso crab ramen                                  12.0   6.0     6.0
soft-shell miso crab ramen                       14.0   7.0     7.0
tori paitan ramen                                13.0   6.0     7.0
tonkotsu ramen                                   13.0   6.0     7.0
burnt garlic tonkotsu ramen                      14.0   6.0     8.0
vegetarian curry + king trumpet mushroom ramen   13.0   7.0     6.0
truffle butter ramen                             14.0   7.0     7.0
green tea                                         2.5   1.0     1.5
coke                                              2.0   1.0     1.0
black sesame ice cream                            5.0   2.0     3.0
matcha ice cream                                  5.0   2.0     3.0
mango mochi ice cream                             5.0   2.0     3.0
strawberry mochi ice cream                        5.0   2.0     3.0
black sesame creme brulee                         6.0   3.0     3.0

In [4]:
# read the sales data
sales_df = pd.read_csv('sales_data.csv', index_col='Line_Item_ID').drop(columns=['Date', 'Credit_Card_Number'])

In [5]:
# view the sales data
print(sales_df.shape)
sales_df.head()

(74124, 2)

              Quantity             Menu_Item
Line_Item_ID
1                    1      spicy miso ramen
2                    1      spicy miso ramen
3                    3     tori paitan ramen
4                    3     tori paitan ramen
5                    1  truffle butter ramen

In [6]:
quantity = sales_df.groupby('Menu_Item').sum().iloc[:, 0]
quantity

Menu_Item
burnt garlic tonkotsu ramen                       9070
miso crab ramen                                   8890
nagomi shoyu                                      9132
shio ramen                                        9180
soft-shell miso crab ramen                        9130
spicy miso ramen                                  9238
tonkotsu ramen                                    9288
tori paitan ramen                                 9156
truffle butter ramen                              8982
vegetarian curry + king trumpet mushroom ramen    8824
vegetarian spicy miso                             9216
Name: Quantity, dtype: int64

In [7]:
relevant_menu_df = menu_df[menu_df.index.isin(sales_df.Menu_Item.unique())].sort_index()
relevant_menu_df

                                                price  cost  profit
item
burnt garlic tonkotsu ramen                      14.0   6.0     8.0
miso crab ramen                                  12.0   6.0     6.0
nagomi shoyu                                     11.0   5.0     6.0
shio ramen                                       11.0   5.0     6.0
soft-shell miso crab ramen                       14.0   7.0     7.0
spicy miso ramen                                 12.0   5.0     7.0
tonkotsu ramen                                   13.0   6.0     7.0
tori paitan ramen                                13.0   6.0     7.0
truffle butter ramen                             14.0   7.0     7.0
vegetarian curry + king trumpet mushroom ramen   13.0   7.0     6.0
vegetarian spicy miso                            12.0   5.0     7.0

In [8]:
product_df = pd.DataFrame({
    'quantity': quantity,
    'revenue':  quantity * relevant_menu_df.price,
    'cost':     quantity * relevant_menu_df.cost,
    'profit':   quantity * relevant_menu_df.profit,
},
    index=sales_df.Menu_Item.sort_values().unique()
    # index=sales_df.Menu_Item.sort_values().drop_duplicates().values
)
#product_df = pd.DataFrame(
#    index=sales_df.Menu_Item.sort_values().unique()
#    # index=sales_df.Menu_Item.sort_values().drop_duplicates().values
#)
#product_df['quantity'] = quantity
#product_df['revenue'] =  quantity * relevant_menu_df.price
#product_df['cost'] =     quantity * relevant_menu_df.cost
#product_df['profit'] =   quantity * relevant_menu_df.profit

In [9]:
# write the report
with open('pandas_report.txt', 'w') as pandas_report_file:
    pandas_report_file.write(product_df.to_string())

In [10]:
# print the report
product_df.style.format({'revenue': '${:,.2f}', 'cost': '${:,.2f}', 'profit': '${:,.2f}'})\
.background_gradient(cmap='Blues')

---