# Python

In [1]:
# imports
import csv
from math import inf

In [2]:
# name initialization
num_months = 0                        # initialize the count: the number of months (the number of rows in the dataset)
months = []                           # intialize a list of the months (column 1 in the dataset)...
mo_changes = []                       # ...and a list of the monthly changes in profit (column 2 in the dataset)
max_gain = ['', -inf]                 # track the name and change in profit of the month which saw the greatest increase in profit
max_loss = ['', inf]                  # track the name and change in profit of the month which saw the greatest decrease in profit
net_profit = 0                        # track the net total profit

In [3]:
num_months

0

In [4]:
months

[]

In [5]:
mo_changes

[]

In [6]:
max_gain

['', -inf]

In [7]:
max_loss

['', inf]

In [8]:
net_profit

0

In [9]:
# read and process data
with open('budget_data.csv') as data_file:
    # handle the header row
    reader = csv.reader(data_file)
    next(reader)                      # get the header
    
    # setup iterative processing
    row1 = next(reader)               # get the first row of data
    num_months += 1                   # update the count
    curr_mo = int(row1[1])            # get the current month's profit
    net_profit += curr_mo             # update the net profit
    prev_mo = curr_mo                 # assign the current month's profit to the previous month's profit for the next iteration
    
    # iterative processing
    for row in reader:                # get the next row of data
        num_months += 1               # update the count
        curr_mo = int(row[1])         # get the current month's profit
        net_profit += curr_mo         # update the net profit
        mo_change = curr_mo - prev_mo # get the current month's change in profit
        mo_changes += [mo_change]     # append the current month's change in profit to the list of monthly changes in profit
        months += [row[0]]            # append the name of the current month to the list of the names of the months
        if mo_change > max_gain[1]:   # update the name and change in profit of the month which saw the greatest increase in profit
            max_gain[0], max_gain[1] = row[0], mo_change
        if mo_change < max_loss[1]:   # update the name and change in profit of the month which saw the greatest decrease in profit
            max_loss[0], max_loss[1] = row[0], mo_change
        prev_mo = curr_mo             # assign the current month's profit to the previous month's profit for the next iteration

In [10]:
num_months

86

In [11]:
months[:5]

['Feb-2010', 'Mar-2010', 'Apr-2010', 'May-2010', 'Jun-2010']

In [12]:
mo_changes[:5]

[116771, -662642, -391430, 379920, 212354]

In [13]:
max_gain

['Feb-2012', 1926159]

In [14]:
max_loss

['Sep-2013', -2196167]

In [15]:
net_profit

38382578

In [16]:
# compute the average change in profit
avg_change = round(sum(mo_changes) / len(mo_changes), 2)
avg_change

-2315.12

In [17]:
# format the analysis
lines = [
    'Financial Analysis',
    '-' * 30,
    '{:15}{:>15}'.format('Num Months', num_months),
    '{:15}{:>15}'.format('Net Profit', '{}${:.2f}'.format('-' if net_profit < 0 else ' ', abs(net_profit))),
    '{:15}{:>15}'.format('Avg Change', '{}${:.2f}'.format('-' if avg_change < 0 else ' ', abs(avg_change))),
    '{:15}{:>15}'.format('Max Gain', '{}${:.2f}'.format('-' if max_gain[1] < 0 else ' ', abs(max_gain[1]))),
    '{:15}{:>15}'.format('Max Loss', '{}${:.2f}'.format('-' if max_loss[1] < 0 else ' ', abs(max_loss[1]))),
]
lines

['Financial Analysis',
 '------------------------------',
 'Num Months                  86',
 'Net Profit        $38382578.00',
 'Avg Change           -$2315.12',
 'Max Gain           $1926159.00',
 'Max Loss          -$2196167.00']

In [18]:
# write the analysis
with open('python_analysis.txt', 'w') as python_analysis_file:
    python_analysis_file.write('\n'.join(lines))

In [19]:
# print the analysis
print('\n'.join(lines))

Financial Analysis
------------------------------
Num Months                  86
Net Profit        $38382578.00
Avg Change           -$2315.12
Max Gain           $1926159.00
Max Loss          -$2196167.00

---

# Pandas

In [20]:
# imports
import pandas as pd

In [21]:
# read data
df = pd.read_csv('budget_data.csv', index_col='Date', parse_dates=True, infer_datetime_format=True)
df.head()

            Profit/Losses
Date
2010-01-01         867884
2010-02-01         984655
2010-03-01         322013
2010-04-01         -69417
2010-05-01         310503

In [22]:
# compute the number of months
num_months = df.shape[0]
#df.index.size
#num_months = df['Date'].count()
#num_months = len(df)
num_months

86

In [23]:
# compute the net total profit
net_profit = df['Profit/Losses'].sum()
net_profit

38382578

In [24]:
# compute the average change in profit
avg_change = df['Profit/Losses'].diff().mean()
avg_change

-2315.1176470588234

In [25]:
# compute the change in profit of the month which saw the greatest increase in profit
max_gain = df['Profit/Losses'].diff().max()
max_gain

1926159.0

In [26]:
# compute the change in profit of the month which saw the greatest decrease in profit
max_loss = df['Profit/Losses'].diff().min()
max_loss

-2196167.0

In [27]:
analysis = pd.DataFrame(
    {'Num Months': num_months, 'Net Profit': net_profit, 'Avg Change': avg_change, 'Max Gain': max_gain, 'Max Loss': max_loss},
    index=[0]
).iloc[0].round(2)

# analysis = pd.Series(
#    data = [num_months, net_profit, avg_change, max_gain, max_loss],
#    index = ['Num Months', 'Net Profit', 'Avg Change', 'Max Gain', 'Max Loss']
#)

analysis

Num Months          86.00
Net Profit    38382578.00
Avg Change       -2315.12
Max Gain       1926159.00
Max Loss      -2196167.00
Name: 0, dtype: float64

In [28]:
# format the analysis
lines = [
    'Financial Analysis',
    '-' * 25,
    analysis.to_string()
]
lines

['Financial Analysis',
 '-------------------------',
 'Num Months          86.00\nNet Profit    38382578.00\nAvg Change       -2315.12\nMax Gain       1926159.00\nMax Loss      -2196167.00']

In [29]:
# write the analysis
with open('pandas_analysis.txt', 'w') as pandas_analysis_file:
    pandas_analysis_file.write('\n'.join(lines))

In [30]:
# print the analysis
print('\n'.join(lines))

Financial Analysis
-------------------------
Num Months          86.00
Net Profit    38382578.00
Avg Change       -2315.12
Max Gain       1926159.00
Max Loss      -2196167.00

---